# Steps that followed in this code as per the problem statement in this assignment

1. Before handling the missing values,I removed units to make them float type values. Because, most of the columns are object type values i.e., float value is concatenated with string values called units.
2. After removing units I handled the missing values
3. Then, I converted the fuel_type and transmission column values into one hot encoding
4. After that instead using R mutate function to create current_age feature for each car using datetime library which is an python equivalent to R. And please find the R mutate code in comments.

In [5]:
import pandas as pd

In [6]:
file_path = "/content/train.csv"

In [7]:
data = pd.read_csv(file_path)

In [ ]:
data.head(10)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50
6,8,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN,5.20
7,9,Tata Indica Vista Quadrajet LS,Chennai,2012,65932,Diesel,Manual,Second,22.3 kmpl,1248 CC,74 bhp,5.0,NaN,1.95
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56 kmpl,1462 CC,103.25 bhp,5.0,10.65 Lakh,9.95
9,11,Honda City 1.5 V AT Sunroof,Kolkata,2012,60000,Petrol,Automatic,First,16.8 kmpl,1497 CC,116.3 bhp,5.0,NaN,4.49

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5847 entries, 0 to 5846
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5847 non-null   int64
 1   Name               5847 non-null   object
 2   Location           5847 non-null   object
 3   Year               5847 non-null   int64
 4   Kilometers_Driven  5847 non-null   int64
 5   Fuel_Type          5847 non-null   object
 6   Transmission       5847 non-null   object
 7   Owner_Type         5847 non-null   object
 8   Mileage            5845 non-null   object
 9   Engine             5811 non-null   object
 10  Power              5811 non-null   object
 11  Seats              5809 non-null   float64
 12  New_Price          815 non-null    object
 13  Price              5847 non-null   float64
dtypes: float64(2), int64(3), object(9)
memory usage: 639.6+ KB

In [9]:
# In above info we go to see missing values in Mileage,Engine,Power,Seats,New_Price
# Interstingly, Engine is object ex:1582 CC
# Mileage is also an object ex : 19.67 kmpl
# same as all others are objects what I can do is I remove their units first then I handle the missing values

# Remove 'kmpl' and 'km/kg' units from 'Mileage' column
data['Mileage'] = data['Mileage'].astype(str).str.replace(' kmpl', '').str.replace(' km/kg', '').astype(float)

# Remove ' CC' from 'Engine' column
data['Engine'] = data['Engine'].astype(str).str.replace(' CC', '').astype(float)

# Remove ' bhp' from 'Power' column
data['Power'] = data['Power'].astype(str).str.replace(' bhp', '').astype(float)

# Remove ' Lakh' and 'Cr' from 'New_price' column
data['New_Price'] = data['New_Price'].astype(str).str.replace(' Lakh', '').str.replace(' Cr', '').astype(float)

In [10]:
data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199.0,88.70,5.0,8.61,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,NaN,3.50

In [11]:
missing_values = data.isnull().sum()

In [12]:
print(missing_values)

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [13]:
# Here I found the missing values in following attributes and they're Engine, Mileage, Power, seats, New_price
# And I use following Impute strategy for them that is for mileage and engine I drop missing values in rows
# Then For seats i handle missing values with mean
# Then For Power i handle missing values with median
# Then For New_Price i handle missing value with mode

data.dropna(subset=['Mileage', 'Engine'], inplace=True)

data['Seats'].fillna(data['Seats'].mean(), inplace=True)

data['Power'].fillna(data['Power'].mean(), inplace=True)

data['New_Price'].fillna(data['New_Price'].mean(), inplace=True)

In [14]:
data.head(10)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,20.493047,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199.0,88.70,5.0,8.610000,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,20.493047,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,20.493047,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,20.493047,3.50
5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36,2755.0,171.50,8.0,21.000000,17.50
6,8,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,Diesel,Manual,First,20.54,1598.0,103.60,5.0,20.493047,5.20
7,9,Tata Indica Vista Quadrajet LS,Chennai,2012,65932,Diesel,Manual,Second,22.30,1248.0,74.00,5.0,20.493047,1.95
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56,1462.0,103.25,5.0,10.650000,9.95
9,11,Honda City 1.5 V AT Sunroof,Kolkata,2012,60000,Petrol,Automatic,First,16.80,1497.0,116.30,5.0,20.493047,4.49

In [15]:
missing_values= data.isnull().sum()

In [16]:
print(missing_values)

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
New_Price            0
Price                0
dtype: int64

In [17]:
# Now we have removed the units as well as handled the missing values
# As of now Fuel_Type has value of Automatic/Manual which is an categorical value
# And Transmission has value of Diesel/Petrol which is also an categorical value

# So using one hot encoding I convert both variables as numeric in 0/1 using pd.dummies function which us one hot encoding inherently

# Use pd.get_dummies() to one-hot encode the categorical columns into binary(0/1) columns
data = pd.get_dummies(data, columns=['Fuel_Type', 'Transmission'])

In [18]:
data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Diesel,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,20.493047,12.50,1,0,0,1
1,2,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,8.610000,4.50,0,1,0,1
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,20.493047,6.00,1,0,0,1
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,20.493047,17.74,1,0,1,0
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,20.493047,3.50,1,0,0,1

In [19]:
# I am creating a new feature for current age of car in python (Since in question it mentioned to write in R but i am providing in python equivalent)

from datetime import datetime

current_year = datetime.now().year
data['Current_Age'] = current_year - data['Year']

In [20]:
data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Diesel,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,Current_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,20.493047,12.50,1,0,0,1,8
1,2,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,8.610000,4.50,0,1,0,1,12
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,20.493047,6.00,1,0,0,1,11
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,20.493047,17.74,1,0,1,0,10
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,20.493047,3.50,1,0,0,1,10

In [ ]:
#whether in case of R
#library(dplyr)
#data <- read.csv("Train.csv")
#current_year <- as.numeric(format(Sys.Date(), "%Y"))
#data <- data %>% mutate(Current_Age = current_year - Year)

In [21]:
data.to_csv("cleaned_data.csv",index=False)